In [18]:
import random
import string
import numpy as np
import pandas as pd

In [19]:
def check_type(n):
    try:
        a=int(n)
        return a
    except ValueError:
        try:
            a=float(n)
            return a
        except:
            return n
    return n

In [20]:
def display_menu():
    return "1.Flight Availability","2.Ticket Booking","3.Ticket Cancellation","4.Flight Detail","5.Exit"

In [21]:
def flight_class():
    return "Business","First","Economy"

In [22]:
def flights_availability():
    dic={}
    n=int(input("No of Flights: "))
    i=1
    while i<=n:
        key=input("Enter the flight name: ")
        value=[]
        n1=int(input("No of classes available: "))
        for j in range(n1):
            c=check_type(input("Enter the number of seats available: "))
            value.append(c)
        dic[key]=value
        i+=1
    return dic

In [13]:
idx=['Business','First','Economy']
a=flights_availability()
df=pd.DataFrame(a,idx)

In [23]:
unique=set()
valid_chars='0123456789'
def ticket(length):
    p=''
    count=0
    while count<length:
        rnum=random.randint(0,128)
        char=chr(rnum)
        if char in valid_chars:
            p+=chr(rnum)
            count+=1
    w='TCKT-'+p
    if w not in unique:
        unique.add(w)
        return w
    else:
        return ticket(7)

In [24]:
def passenger_details():
    global df,d1
    dic6={}
    n=int(input("No of passengers: "))
    for i in range(n):
        key=f"{i+1}"
        n1=1
        for _ in range(n1):
            name=input(f"Enter name of passenger{i+1}: ")
            check_name=input("Please check the spelling of your name. Is it right?(yes or no): ")
            if check_name=='no':
                name=input(f"Enter name of passenger{i+1}: ")
            age=int(input(f"Enter age of passenger{i+1} (only in numbers): "))
            check_age=input("Please check your age. Is it right?(yes or no): ")
            if check_age=='no':
                age=int(input(f"Enter age of passenger{i+1} (only in numbers): "))
            gender=str(input(f"Enter gender of passenger{i+1} (F/M/Others):"))
            b=df.columns
            flight=str(input(f"Enter the flight name {b}: "))
            check_flight=input("Please check the spelling of Flight name. Is it right?(yes or no): ")
            if check_flight=='no':
                flight=str(input(f"Enter the flight name {b}: "))
            y,u,t=flight_class()
            class_1=str(input(f"Enter the class name {y,u,t}: "))
            check_class=input("Please check the spelling of Class name. Is it right?(yes or no): ")
            if check_class=='no':
                class_1=str(input(f"Enter the class name {y,u,t}: "))
            if df[flight][class_1]==0:
                print(f"{class_1} is not available in the flight {flight}")
                g,o,p=flight_class()
                class_1=str(input(f"Enter the class name {g,o,p}: "))
            ticket_1=ticket(7)
        dic6[key]={'Name': name, 'Age':age,'Gender':gender,'Flight Name':flight,'Class':class_1,'Ticket No':ticket_1}
        df[flight][class_1]-=1
    new_df=pd.DataFrame(dic6).T
    new_df=new_df[['Name','Age','Gender','Flight Name','Class','Ticket No']]
    if 'd1' in globals():
        d1 = pd.concat([d1, new_df],ignore_index=True)
    else:
        d1 = new_df
    print(d1)
    print(df)
    print("Your Booking has been confirmed. Please enjoy your flight.")

In [25]:
def booking_cancellation():
    global d1
    del_tckt=int(input("Enter the no of tickets to be cancelled: "))
    for _ in range(del_tckt):
        tckt_no=check_type(input("Enter the ticket no that is to be cancelled: "))
        check_ticketno=input("Please check the ticket number. Is it right?(yes or no): ")
        if check_ticketno=='no':
            tckt_no=check_type(input("Enter the ticket no that is to be cancelled: "))
        s=d1[d1['Ticket No']==tckt_no]
        idx=s.index[0] if not s.empty else None
        flight_name=s['Flight Name'][idx]
        class_name=s['Class'][idx]
        df[flight_name][class_name]+=1
        d1=d1[d1['Ticket No']!=tckt_no]
    print(d1)
    print("Your ticket has been cancelled successfully.")

In [26]:
def uniq_ele(lis):
    return set(lis)

In [27]:
global d1
def flight_detail():
    lis=list(d1['Flight Name'])
    unique_flights=uniq_ele(lis)
    for i in unique_flights:
        print(d1[d1['Flight Name']==i])

In [28]:
while True:
    h,i,g,z,x=display_menu()
    choice=int(input(f"Enter your choice {h,i,g,z,x}: "))
    if choice==1:
        print(df)
    elif choice==2:
        passenger_details()
    elif choice==3:
        booking_cancellation()
    elif choice==4:
        flight_detail()
    elif choice==5:
        print("Thank you for using our website.")
        break
    else:
        print("Invalid Choice. Please enter choices from 1-5.")

          SpiceJet  Indigo  KingFisher  Vistara  Emirates  Scoot
Business         3       3           1        4         2      4
First            4       2           2        6         4      5
Economy          5       6           5        5         3      3
        Name Age Gender Flight Name     Class     Ticket No
1       Arun  47      M    SpiceJet  Business  TCKT-8276473
2     Anusha  45      F      Indigo     First  TCKT-6433768
3    Yuthiga  19      F  KingFisher   Economy  TCKT-2546229
4  Harshitaa  17      F     Vistara  Business  TCKT-3439935
          SpiceJet  Indigo  KingFisher  Vistara  Emirates  Scoot
Business         2       3           1        3         2      4
First            4       1           2        6         4      5
Economy          5       6           4        5         3      3
Your Booking has been confirmed. Please enjoy your flight.
        Name Age Gender Flight Name     Class     Ticket No
1       Arun  47      M    SpiceJet  Business  TCKT-8276473
2     Anusha  45      F      Indigo     First  TCKT-6433768
4  Harshitaa  17      F     Vistara  Business  TCKT-3439935
Your ticket has been cancelled successfully.
        Name Age Gender Flight Name     Class     Ticket No
0       Arun  47      M    SpiceJet  Business  TCKT-8276473
1     Anusha  45      F      Indigo     First  TCKT-6433768
2  Harshitaa  17      F     Vistara  Business  TCKT-3439935
3  Jayabalan  70      M       Scoot     First  TCKT-0742046
          SpiceJet  Indigo  KingFisher  Vistara  Emirates  Scoot
Business         2       3           1        3         2      4
First            4       1           2        6         4      4
Economy          5       6           5        5         3      3
Your Booking has been confirmed. Please enjoy your flight.
     Name Age Gender Flight Name  Class     Ticket No
1  Anusha  45      F      Indigo  First  TCKT-6433768
        Name Age Gender Flight Name  Class     Ticket No
3  Jayabalan  70      M       Scoot  First  TCKT-0742046
   Name Age Gender Flight Name     Class     Ticket No
0  Arun  47      M    SpiceJet  Business  TCKT-8276473
        Name Age Gender Flight Name     Class     Ticket No
2  Harshitaa  17      F     Vistara  Business  TCKT-3439935
Thank you for using our website.