In [1]:
import random
import string
import numpy as np
import pandas as pd

In [2]:
def check_type(n):
    try:
        a=int(n)
        return a
    except ValueError:
        try:
            a=float(n)
            return a
        except:
            return n
    return n

In [3]:
def display_menu():
    return "1.Flight Availability","2.Ticket Booking","3.Ticket Cancellation","4.Flight Detail","5.Exit"

In [4]:
def flight_class():
    return "Business","First","Economy"

In [5]:
def flights_availability():
    dic={}
    n=int(input("No of Flights: "))
    i=1
    while i<=n:
        key=input("Enter the flight name: ")
        value=[]
        n1=int(input("No of classes available: "))
        for j in range(n1):
            c=check_type(input("Enter the number of seats available: "))
            value.append(c)
        dic[key]=value
        i+=1
    return dic

In [6]:
idx=['Business','First','Economy']
a=flights_availability()
df=pd.DataFrame(a,idx)

No of Flights: 6
Enter the flight name: SpiceJet
No of classes available: 3
Enter the number of seats available: 3
Enter the number of seats available: 4
Enter the number of seats available: 5
Enter the flight name: Indigo
No of classes available: 3
Enter the number of seats available: 3
Enter the number of seats available: 2
Enter the number of seats available: 6
Enter the flight name: KingFisher
No of classes available: 3
Enter the number of seats available: 1
Enter the number of seats available: 2
Enter the number of seats available: 5
Enter the flight name: Vistara
No of classes available: 3
Enter the number of seats available: 5
Enter the number of seats available: 4
Enter the number of seats available: 2
Enter the flight name: Emirates
No of classes available: 3
Enter the number of seats available: 3
Enter the number of seats available: 1
Enter the number of seats available: 4
Enter the flight name: Scoot
No of classes available: 3
Enter the number of seats available: 8
Enter the number of seats available: 2
Enter the number of seats available: 1

In [7]:
unique=set()
valid_chars='0123456789'
def ticket(length):
    p=''
    count=0
    while count<length:
        rnum=random.randint(0,128)
        char=chr(rnum)
        if char in valid_chars:
            p+=chr(rnum)
            count+=1
    w='TCKT-'+p
    if w not in unique:
        unique.add(w)
        return w
    else:
        return ticket(7)

In [14]:
def passenger_details():
    global df,d1
    dic6={}
    n=int(input("No of passengers: "))
    for i in range(n):
        key=f"{i+1}"
        n1=1
        for _ in range(n1):
            name=input(f"Enter name of passenger{i+1}: ")
            check_name=input("Please check the spelling of your name. Is it right?(yes or no): ")
            if check_name=='no':
                name=input(f"Enter name of passenger{i+1}: ")
            age=int(input(f"Enter age of passenger{i+1} (only in numbers): "))
            check_age=input("Please check your age. Is it right?(yes or no): ")
            if check_age=='no':
                age=int(input(f"Enter age of passenger{i+1} (only in numbers): "))
            gender=str(input(f"Enter gender of passenger{i+1} (F/M/Others):"))
            b=df.columns
            flight=str(input(f"Enter the flight name {b}: "))
            check_flight=input("Please check the spelling of Flight name. Is it right?(yes or no): ")
            if check_flight=='no':
                flight=str(input(f"Enter the flight name {b}: "))
            y,u,t=flight_class()
            class_1=str(input(f"Enter the class name {y,u,t}: "))
            check_class=input("Please check the spelling of Class name. Is it right?(yes or no): ")
            if check_class=='no':
                class_1=str(input(f"Enter the class name {y,u,t}: "))
            if df[flight][class_1]==0:
                print(f"{class_1} class is not available in the flight {flight}")
                g,o,p=flight_class()
                class_1=str(input(f"Enter the class name {g,o,p}: "))
            ticket_1=ticket(7)
        dic6[key]={'Name': name, 'Age':age,'Gender':gender,'Flight Name':flight,'Class':class_1,'Ticket No':ticket_1}
        df[flight][class_1]-=1
    new_df=pd.DataFrame(dic6).T
    new_df=new_df[['Name','Age','Gender','Flight Name','Class','Ticket No']]
    if 'd1' in globals():
        d1 = pd.concat([d1, new_df],ignore_index=True)
    else:
        d1 = new_df
    print(d1)
    print(df)
    print("Your Booking has been confirmed. Please enjoy your flight.")

In [9]:
def booking_cancellation():
    global d1
    del_tckt=int(input("Enter the no of tickets to be cancelled: "))
    for _ in range(del_tckt):
        tckt_no=check_type(input("Enter the ticket no that is to be cancelled: "))
        check_ticketno=input("Please check the ticket number. Is it right?(yes or no): ")
        if check_ticketno=='no':
            tckt_no=check_type(input("Enter the ticket no that is to be cancelled: "))
        s=d1[d1['Ticket No']==tckt_no]
        idx=s.index[0] if not s.empty else None
        flight_name=s['Flight Name'][idx]
        class_name=s['Class'][idx]
        df[flight_name][class_name]+=1
        d1=d1[d1['Ticket No']!=tckt_no]
    print(d1)
    d1.to_csv(f"/content/sample_data/new_dataset.csv")
    print("Your ticket has been cancelled successfully.")

In [10]:
def uniq_ele(lis):
    return set(lis)

In [11]:
global d1
def flight_detail():
    lis=list(d1['Flight Name'])
    unique_flights=uniq_ele(lis)
    for i in unique_flights:
        d2=d1[d1['Flight Name']==i]
        print(d2)
        d2.to_csv(f'/content/sample_data/new_dataset {i}.csv')

In [13]:
while True:
    h,i,g,z,x=display_menu()
    choice=int(input(f"Enter your choice {h,i,g,z,x}: "))
    if choice==1:
        print(df)
    elif choice==2:
        passenger_details()
    elif choice==3:
        booking_cancellation()
    elif choice==4:
        flight_detail()
    elif choice==5:
        print("Thank you for using our website.")
        break
    else:
        print("Invalid Choice. Please enter choices from 1-5.")

Enter your choice ('1.Flight Availability', '2.Ticket Booking', '3.Ticket Cancellation', '4.Flight Detail', '5.Exit'): 1
          SpiceJet  Indigo  KingFisher  Vistara  Emirates  Scoot
Business         3       3           1        5         3      8
First            4       2           2        4         1      2
Economy          5       6           5        2         4      1
Enter your choice ('1.Flight Availability', '2.Ticket Booking', '3.Ticket Cancellation', '4.Flight Detail', '5.Exit'): 2
No of passengers: 10
Enter name of passenger1: Jayabalan
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger1 (only in numbers): 70
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger1 (F/M/Others):M
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): SpiceJet
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): Business
Please check the spelling of Class name. Is it right?(yes or no): yes
Enter name of passenger2: Kousalya Devi
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger2 (only in numbers): 68
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger2 (F/M/Others):F
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): SpiceJet
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): Business
Please check the spelling of Class name. Is it right?(yes or no): yes
Enter name of passenger3: Arun
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger3 (only in numbers): 47
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger3 (F/M/Others):M
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): Indigo
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): First
Please check the spelling of Class name. Is it right?(yes or no): yes
Enter name of passenger4: Anusha
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger4 (only in numbers): 45
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger4 (F/M/Others):F
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): Indigo
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): First
Please check the spelling of Class name. Is it right?(yes or no): yes
Enter name of passenger5: Aravind
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger5 (only in numbers): 43
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger5 (F/M/Others):M
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): KingFisher
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): Economy
Please check the spelling of Class name. Is it right?(yes or no): yes
Enter name of passenger6: Abirami
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger6 (only in numbers): 38
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger6 (F/M/Others):F
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): KingFisher
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): Economy
Please check the spelling of Class name. Is it right?(yes or no): yes
Enter name of passenger7: Yuthiga
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger7 (only in numbers): 19
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger7 (F/M/Others):F
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): Scoot
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): Business
Please check the spelling of Class name. Is it right?(yes or no): yes
Enter name of passenger8: Harshitaa
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger8 (only in numbers): 17
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger8 (F/M/Others):F
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): Emirates
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): First
Please check the spelling of Class name. Is it right?(yes or no): yes
Enter name of passenger9: yeshvanth
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger9 (only in numbers): 13
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger9 (F/M/Others):M
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): Emirates
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): First
Please check the spelling of Class name. Is it right?(yes or no): yes
First is not available in the flight Emirates
Enter the class name ('Business', 'First', 'Economy'): Business
Enter name of passenger10: ABCJI
Please check the spelling of your name. Is it right?(yes or no): no
Enter name of passenger10: Ayyaka
Enter age of passenger10 (only in numbers): 60
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger10 (F/M/Others):F
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): Vistara
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): Economy
Please check the spelling of Class name. Is it right?(yes or no): yes
             Name Age Gender Flight Name     Class     Ticket No
1       Jayabalan  70      M    SpiceJet  Business  TCKT-2225089
2   Kousalya Devi  68      F    SpiceJet  Business  TCKT-1336261
3            Arun  47      M      Indigo     First  TCKT-2979498
4          Anusha  45      F      Indigo     First  TCKT-0871884
5         Aravind  43      M  KingFisher   Economy  TCKT-1969058
6         Abirami  38      F  KingFisher   Economy  TCKT-8444722
7         Yuthiga  19      F       Scoot  Business  TCKT-2731215
8       Harshitaa  17      F    Emirates     First  TCKT-4982431
9       yeshvanth  13      M    Emirates  Business  TCKT-9216135
10         Ayyaka  60      F     Vistara   Economy  TCKT-6121274
          SpiceJet  Indigo  KingFisher  Vistara  Emirates  Scoot
Business         1       3           1        5         2      7
First            4       0           2        4         0      2
Economy          5       6           3        1         4      1
Your Booking has been confirmed. Please enjoy your flight.
Enter your choice ('1.Flight Availability', '2.Ticket Booking', '3.Ticket Cancellation', '4.Flight Detail', '5.Exit'): 2
No of passengers: 1
Enter name of passenger1: ABC
Please check the spelling of your name. Is it right?(yes or no): yes
Enter age of passenger1 (only in numbers): 21
Please check your age. Is it right?(yes or no): yes
Enter gender of passenger1 (F/M/Others):F
Enter the flight name Index(['SpiceJet', 'Indigo', 'KingFisher', 'Vistara', 'Emirates', 'Scoot'], dtype='object'): Vistara
Please check the spelling of Flight name. Is it right?(yes or no): yes
Enter the class name ('Business', 'First', 'Economy'): Business
Please check the spelling of Class name. Is it right?(yes or no): yes
             Name Age Gender Flight Name     Class     Ticket No
0       Jayabalan  70      M    SpiceJet  Business  TCKT-2225089
1   Kousalya Devi  68      F    SpiceJet  Business  TCKT-1336261
2            Arun  47      M      Indigo     First  TCKT-2979498
3          Anusha  45      F      Indigo     First  TCKT-0871884
4         Aravind  43      M  KingFisher   Economy  TCKT-1969058
5         Abirami  38      F  KingFisher   Economy  TCKT-8444722
6         Yuthiga  19      F       Scoot  Business  TCKT-2731215
7       Harshitaa  17      F    Emirates     First  TCKT-4982431
8       yeshvanth  13      M    Emirates  Business  TCKT-9216135
9          Ayyaka  60      F     Vistara   Economy  TCKT-6121274
10            ABC  21      F     Vistara  Business  TCKT-2861827
          SpiceJet  Indigo  KingFisher  Vistara  Emirates  Scoot
Business         1       3           1        4         2      7
First            4       0           2        4         0      2
Economy          5       6           3        1         4      1
Your Booking has been confirmed. Please enjoy your flight.
Enter your choice ('1.Flight Availability', '2.Ticket Booking', '3.Ticket Cancellation', '4.Flight Detail', '5.Exit'): 3
Enter the no of tickets to be cancelled: 1
Enter the ticket no that is to be cancelled: TCKT-2861827
Please check the ticket number. Is it right?(yes or no): yes
            Name Age Gender Flight Name     Class     Ticket No
0      Jayabalan  70      M    SpiceJet  Business  TCKT-2225089
1  Kousalya Devi  68      F    SpiceJet  Business  TCKT-1336261
2           Arun  47      M      Indigo     First  TCKT-2979498
3         Anusha  45      F      Indigo     First  TCKT-0871884
4        Aravind  43      M  KingFisher   Economy  TCKT-1969058
5        Abirami  38      F  KingFisher   Economy  TCKT-8444722
6        Yuthiga  19      F       Scoot  Business  TCKT-2731215
7      Harshitaa  17      F    Emirates     First  TCKT-4982431
8      yeshvanth  13      M    Emirates  Business  TCKT-9216135
9         Ayyaka  60      F     Vistara   Economy  TCKT-6121274
Your ticket has been cancelled successfully.
Enter your choice ('1.Flight Availability', '2.Ticket Booking', '3.Ticket Cancellation', '4.Flight Detail', '5.Exit'): 4
     Name Age Gender Flight Name    Class     Ticket No
9  Ayyaka  60      F     Vistara  Economy  TCKT-6121274
        Name Age Gender Flight Name     Class     Ticket No
7  Harshitaa  17      F    Emirates     First  TCKT-4982431
8  yeshvanth  13      M    Emirates  Business  TCKT-9216135
      Name Age Gender Flight Name    Class     Ticket No
4  Aravind  43      M  KingFisher  Economy  TCKT-1969058
5  Abirami  38      F  KingFisher  Economy  TCKT-8444722
            Name Age Gender Flight Name     Class     Ticket No
0      Jayabalan  70      M    SpiceJet  Business  TCKT-2225089
1  Kousalya Devi  68      F    SpiceJet  Business  TCKT-1336261
      Name Age Gender Flight Name     Class     Ticket No
6  Yuthiga  19      F       Scoot  Business  TCKT-2731215
     Name Age Gender Flight Name  Class     Ticket No
2    Arun  47      M      Indigo  First  TCKT-2979498
3  Anusha  45      F      Indigo  First  TCKT-0871884
Enter your choice ('1.Flight Availability', '2.Ticket Booking', '3.Ticket Cancellation', '4.Flight Detail', '5.Exit'): 5
Thank you for using our website.